GOOGLE_API_KEY=
TAVILY_API_KEY=
GSHEET_EMAIL=
GROQ_API_KEY=

type=
project_id=
private_key_id=
private_key=
client_email=
client_id=
auth_uri=
token_uri=
auth_provider_x509_cert_url=
client_x509_cert_url=
universe_domain=

[oauth]
client_id=
project_id=
auth_uri=
token_uri=
auth_provider_x509_cert_url=
client_secret=
redirect_uris= ["http://localhost:8501", "http://localhost:8500"]
javascript_origins= ["http://localhost:8501", "http://localhost:8500"]